
.#{$checkboxRadioIcon-component} {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;

  .btn {
    padding: 0;
  }

  &__option {
    margin: 1rem;

    > div {
      display: inline-grid;
      position: relative;
      text-align: center;

      span {
        color: $primary-blue;
        width: 10rem;
        font-weight: 600
      }
    }
    > input {
      opacity: 0;
      position: absolute;
    }
  }

  &__option--checked {
    .checkboxRadioIcon__icon {
      background: $primary-blue;
      color: $white;
    }
  }

  &__icon {
    background: $white;
    border: 0.1rem solid $light-blue;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    padding: 1.5rem 1.6rem;
    margin: 0 2rem 0.5rem;
    text-align: center;
  }
}
