
.#{$dropdown-component} {
  display: inline-block;
  width: 50%;
  margin-bottom: 1rem;

  select {
    @include questionInputLike();
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    option {
      font-weight: 600;
    }
  }
  &__container {
      display: flex;
      width: 100%;
      margin-right: 0;

    @include media-breakpoint-up(md) {
      width: 98%;
      margin-right: 2%;
    }
  }
  &__container::after {
    content: $fa-var-caret-down;
    font-family: $icon-family-fontawesome;
    font-size: 1.2rem;
    color: $gray-600;
    margin: 0.3rem 0 0 -1.5rem;
  }
  h4 {
    margin: 0.5rem 0 !important;
  }
}
