

.slider {
  $component-class: ".rc-slider";
  position: relative;
  margin: 3rem auto 1rem;
  padding: 0.5rem 0;
  width: 95%;
  float: none;

  #{$component-class}{
    &-handle {
      margin-top: calc(0.8rem / -2);
      border-color: $primary-blue;
    }
    &-track, &-rail {
      height: 0.5rem;
    }
    &-track {
      background-color: $primary-blue;
    }
    &-dot {
      width: 0 !important;
    }
    &__label {
      display: none;
      &--selected {
        display: inline;
        color: $primary-blue;
      }
    }
  }

  &--non-extended {
    #{$component-class}{

      &-mark-text{

        &:first-of-type{
          transform: none !important;
          text-align: left;
        }

        &:last-of-type {
          left: auto !important;
          right: 0 !important;
          transform: none !important;
          text-align: right;
        }

        #{$component-class}__label {
          cursor: pointer;
        }
      }

      &-dot {
        width: $slider-rail-thickness;
        height: calc(#{$slider-rail-thickness} + 2px);
        background-color: $white;
        top: -1px;

        &:last-of-type{
          display: none;
        }

        &:first-of-type {
          display: none;
        }
      }

    }
  }
}
