.surveyPage--page-lifeSituations {
  .questionGroup {
    .#{$checkboxRadioIcon-component} {
      &__option {
        border: 0.1rem solid $light-blue;
        margin: 0.6rem;
        padding: 1.5rem 0.5rem;
      }

      &__option--checked {
        border-color: $primary-blue;
        span {
          color: $primary-blue;
        }

        .checkboxRadioIcon__cssIcons {
          filter: invert(36%) sepia(12%) saturate(2850%) hue-rotate(159deg) brightness(60%) contrast(83%);
        }
        .checkboxRadioIcon__label:before {
          color: $primary-blue;
          content: $fa-var-check;
          font-family: $icon-family-fontawesome;
          position: absolute;
          right: 0.3rem;
          top: -1rem;
        }
      }

      &__cssIcons {
        background-size: 3.5rem;
      }
      &__icon {
        background-color: inherit;
        border: none;
        border-radius: 0;
        padding: 1.5rem 1rem;
      }
    }
  }
}
