@include appModifier($neuro-summary-page) {
  @include component($header-component) {
    display: none !important;
  }
}

.#{$neuro-summary-page} {
  margin-top: 12rem;
  @extend .make-animated;
  @include onLoadPageTransition(true) {
    animation-name: fadeIn;
    animation-delay: $animation-duration-default;
  }
  @include onEnterTransition(true) {
    animation-name: fadeIn;
    animation-delay: $animation-duration-default;
  }
  @include onExitTransition(true) {
    animation-name: fadeOut;

    hr,
    .btn {
      display: none;
    }
  }

  &__header {
    height: 4rem;
    background-color: $primary-blue;
    position: absolute;
    width: 100%;
    top: 7rem;
    padding-top: 0.5rem;
    padding-left: 17rem;
    color: white;
    font-size: 2rem;
    font-weight: 600;

    .toolbar {
      float: right;
      font-size: 0.7rem;
      margin-right: 6rem;
      > button {
        border: 0;
        background-color: transparent;
        color: white;
        margin: 0 0.5rem;
        > i {
          font-size: 1.1rem;
        }

        &:nth-child(3) {
          > i {
            font-size: 1.6rem;
          }
        }
      }
    }
  }

  &__icon {
    background-image: url(/classpath/assets/images/icons/header-icon.png);
    width: 200px;
    height: 154px;
    background-size: 200px;
    background-repeat: no-repeat;
    position: absolute;
    top: 5rem;
    left: 3rem;
  }

  &__subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    width: 80%;
  }

  &__body {
    width: 80%;
    margin-left: auto;
  }

  &__products {
    width: 80%;
  }

  > header {
    position: absolute;
    top: 0;
    width: 100%;

    > .container {
      > div {
        margin: 1rem;
      }
    }
  }

  .product-group {
    &__header {
      margin-bottom: 1rem;

      h1 {
        @include subtitleLike();
      }
    }
  }

  .product {
    margin-bottom: 5rem;
    position: relative;
    border-bottom: 1px solid $gray-300;

    &__header {
      color: $primary-blue;
      h1 {
        font-size: 2rem;
      }
    }

    &__description {
      width: 60%;
    }

    &__icon {
      position: absolute;
      left: -7rem;
      top: 0;

      svg {
        width: 5rem;
      }
    }

    &__didyou {
      position: absolute;
      top: 0;
      right: 0;
      border: 1px solid $dark-orange;
      border-radius: 0.6rem;
      color: $dark-orange;
      padding: 1rem .5rem 1.5rem 1.5rem;

      > div {
        position: relative;
        width: 15rem;
        &:first-child {
          font-size: 1.5rem;
        }
      }

      > img {
        position: absolute;
        top: -1.5rem;
        left: -1.5rem;
        width: 48px;
      }
    }

    ul {
      list-style: none;
      line-height: 1.5rem;

      li::before {
        content: "\2022";
        color: $dark-orange;
        font-weight: bold;
        display: inline-block;
        width: 1.5rem;
        margin-left: -1rem;
        font-size: 2rem;
      }
    }
  }
}
