
html {
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-size: 16px;
  background: $body-bg;
}

body {
  height: 100%;
  background-color: $white;
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  clear: both;
  height: auto;
  position: relative;

  &:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.subtext {
  font-size: 1.2rem;
  font-weight: 300;
  margin: .25rem 0 0;
  color: $primary-blue;
}

button {
  outline: none;

  &:focus {
    outline: none;
  }
}
