.footer {
  background-color: $white;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.3rem 0;
  cursor: default;
  text-align: center;
  margin: 0 0.3rem;;
  color: $primary-blue;
  display: inline-block;
  vertical-align: top;
  height: $footer-height;

  @include media-breakpoint-up(md) {
    margin: 0 2.3rem;
  }
}
