
.#{$header-component} {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: $header-height;
  background: $white;
  padding: 0 2.5rem;

  &__logo {
    float: left;
    position: relative;

    > div  {
      position: relative;
      top: .5rem;
      margin-right: 1rem;
      display: inline-block;

      svg {
        height: 3.5rem;
      }
    }

    span {
      font-size: 1.75rem;
      font-weight: 300;
      position: relative;
      top: .75rem;
    }
  }
}
