
.#{$neuro-navigation-component} {
  position: absolute;
  bottom: 2rem;
  width: 50%;
  z-index: 0;
  height: $navigation-height;
  margin: 0 auto;
  right: 6rem;
  text-align: right;

  .btn {
    position: relative;
    text-align: center;
    font-weight: 600;
    letter-spacing: .1rem;
    font-size: 1rem;
    border-radius: 5px;
    padding: .75rem 1.5rem;
    border-color: $primary-blue;
    margin-left: 2rem;
  }

  &__prev {
    color: $primary-blue;
    &:hover {
      color: $white;
      background-color: $primary-blue;
    }
  }

  &__next {
    color: $primary-blue;
    background: $dark-orange;
    &:hover {
      color: $white;
      background-color: $primary-blue;
    }
    &#{&} {
      font-weight: 700;
    }
  }
}
