.progressbar-container {
  z-index: 150;
  width: 80vw;
  right: 0;
  top: 0;
  position: absolute;
  height: $header-height;

  .steps {
    list-style: none;
    margin: 0;
    padding: 0 4rem;
    display: table;
    table-layout: fixed;
    width: 100%;
    height:  calc(#{$header-height} - 1rem);

    > .step {
      position: relative;
      display: table-cell;
      text-align: center;
      font-size: 0.875rem;
      vertical-align: bottom;

      span {
        position: absolute;
        top: 0.1rem;
        margin-left: -1.1rem;
        font-weight: bold;
        color: $primary-blue;
        font-size: 1.3rem;
      }

      &:before {
        content: attr(data-step);
        display: block;
        margin: 0 auto;
        width: 2rem;
        height: 2rem;
        text-align: center;
        color: $primary-blue;
        border: 2px solid $dark-orange;
        background: $white;
        line-height: 1.75rem;
        border-radius: 100%;
        position: relative;
        z-index: 1;
        font-weight:700;
        font-size: 1.25rem;
      }
      &:after {
        content: '';
        position: absolute;
        display: block;
        border-top: $primary-blue dashed 0.3rem;
        width: 100%;
        height: 0.5rem;
        top: 75%;
        left: 50%;
        margin-top: -0.1rem;
      }
      &:last-child:after {
        display: none;
      }
      &.is-complete {
        &:before {
          color: $primary-blue;
          background: $dark-orange;
        }
        &:after {
          border-top: $dark-orange dashed 0.3rem;
        }
      }
      &.is-active {
        &:before {
          color: $primary-blue;
          background: $dark-orange;
        }
      }
    }
  }
}
